:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --head-height:120px;
    --navbar--height:38px;
    --head__swith-seach: calc(var(--head-height) - var(--navbar--height))  ;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    /* 62.5% = 10px 
       10px=1rem;
    */
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-left: -12px;
}





/* test */

/* animation */

@keyframes fadeIn{
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}

@keyframes growth{
from{
  transform: calc(var(--growth-from));
}
to{
  transform: calc(var(--growth-to));
}

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}



.btn{
    min-width: 90px;
    height: 36px;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 10px;
    padding-left: 10px; 
    display: inline-block;
    text-align: center;
}


.btn.btn-primary{
    color: #fff;
    background-color: #f53e2d;
   
}

.head__seach-history{
    position: absolute;
    display: none;
    top: 110px;
    width: 49%;
    left: 20%;
    right: 290px;
    background-color: var(--white-color);
    color: var(--text-color);
    box-shadow:  0 0 3px #666;
    border-radius: 3px;
    
}

.head__seach-history-heading{
    user-select: none;
    margin: 13px;
    color: #666;
}
.head__seach-list{
    list-style-type: none;
  
}
.head__seach-items:hover{
    background-color: rgb(218, 209, 209);
    font-size: 1.8rem;
    width: 100%;
}
.head__seach-items{
    height: 26px; 
    
}
.head__seach-items a{
     text-decoration: none;
     font-size: 1.5rem;
     color: var(--text-color);
}
.head__seach-input:hover .head__seach-history{
    display: block;
}

